<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SuiteAsyncFiles" verbose="1" parallel="tests" thread-count="1">
  <test name="UnitTests">
    <classes>
      <class name="net.kava.file.AIOFileReaderTest"></class>
      <class name="net.kava.file.AIOFileWriterTest"></class>
      <class name="net.kava.file.NIOFileLineReaderTest"></class>
    </classes>
  </test>
</suite>